Package: com.kitty.uedumpep
Name: UEDumper
Version: 4.3.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: CyberCat
Author: CyberCat
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
